<!DOCTYPE html>
<html>
  <head>
    <title>Video Editing Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class='nav'>
      <div class='nav__logo'>
        <a href='/'>Video Editing Portfolio</a>
      </div>
      <div class='nav__links'>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/contact'>Contact</a>
        <a href='/projects'>Projects</a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
